body {
    font-family: Arial;
    text-align: left;
    margin-top: 40px;
}

input {
    padding: 8px;
    margin: 5px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

div {
    margin-bottom: 20px;
}